body {
    color: $primary;
    font-family:  $primary-font;
}

.video-container {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #000000;
    
    .my-player-dimensions {
        margin: 0 auto;
    }

    video {
        height: 100%;
        position: relative;
        display: flex;
        margin: 0px auto;
    }

    .video-js:hover + .video-controls-container, .video-controls-container:hover, .time-selector:hover ~ .video-controls-container {
        height: 32px;
    }

    .time-selector {
        position: absolute; 
        overflow-x: hidden;
        bottom: 0;
        width: 100%;
        z-index: 99;

        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
            padding-bottom: 32px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;

        }
        input[type=range].down {
            padding-bottom: 0px;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 72px;
            cursor: pointer;
            background: rgba(255,255,255,0.75);
            border-color: rgba(255,255,255,0.75);
            color: rgba(255,255,255,0.75);
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 72px;
            width: 20px;
            background: rgba(255,255,255,0.75);
            cursor: pointer;
            margin-top: -14px;
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            border: 1px solid #000000;
            height: 36px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
        }

        input[type=range]::-ms-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            border: 1px solid #000000;
            height: 36px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
        }
    }
    
    .video-controls-container {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0px;
        border-radius: 0px;
        //height: 32px;
        width: 100%;
        border: 0px;
        text-align: center;
        z-index: 9999;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;

        div#stepSetter {
            label {
                width: 100px;
                line-height: 32px;
            }
        }

        div#slowFinder, div#stepSetter {
            height: 32px;
            width: 275px;
            display: inline-flex;
            background-color: #fafafa;
            vertical-align: bottom;
            position: relative;

            div.slideTrack {
                height: 2px;
                width: 200px;
                top: 14px;
                background: rgba(56, 178, 255, 0.43);
                position: absolute;
                left: 75px;
            }

            input[type=range] {
                -webkit-appearance: none;
                width: 100%;
                background: transparent;
                padding-bottom: 32px;
                z-index: 999;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
            }

            input[type=range]:focus {
                outline: none;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 64px;
                width: 20px;
                background: $brand-primary;
                cursor: pointer;
                bottom:0;
            }

            input[type=range]::-moz-range-thumb {
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                border: 1px solid #000000;
                height: 64px;
                width: 16px;
                border-radius: 3px;
                background: $brand-primary;
                cursor: pointer;
                bottom:0;
            }

            input[type=range]::-ms-thumb {
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                border: 1px solid #000000;
                height: 64px;
                width: 16px;
                border-radius: 3px;
                background: $brand-primary;
                cursor: pointer;
                bottom:0;
            }

            label {
                font-weight: 100;
                font-size: 10px;
            }
        }

        button.video-controls {
            border: 0px;
            color: #5a5a5a;
            height: 100%;
            background-color: #fafafa;
            font-size: 17px;
            padding: 0px 19px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;

            .time-jump {
                font-weight: 100;
                font-size: 10px;
                width: 200px;
            }
        }

        button.video-controls:active, button.video-controls:focus {
            outline : 0;
            -moz-outline : 0;
        }

        button.video-controls:hover {
            background-color: #dadada;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        }
    }
}

.wrapper {
    button.player-btn {
        border: 4px solid $default-color;
        border-radius: 2px;
        background-color: #ffffff;
        padding: 20px;
        color: $default-color;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
    }

    button.player-btn:hover {
        border-color: $default-color-hover;
        color: $default-color-hover
    }

    button.player-btn:active, button.player-btn:focus, button.player-btn:active {
        border-color: $brand-primary;
        color: $brand-primary;
        outline: none;
        outline-width: 0px;
    }

     button:active, button:focus, button:active {
        outline: none;
        outline-width: 0px;
    }

    button.player-btn.player-selected {
        border-color: $brand-primary;
        color: $brand-primary;
    }
}
    
ul.players-list {
    list-style: none;
}

#terrain-container {
    max-width: $t-width;
    height: $t-height;
    border: 4px solid $primary;
    position: relative;
    padding: 0px;

    #circle-centre {
        position: absolute;
        width: $r-centre;
        height: $r-centre;
        border-radius: 100%;
        border: 3px solid $primary;
        left: 50%;
        top: 50%;
        margin-left: $r-centre-pad;
        margin-top: $r-centre-pad;
        z-index: 9;
    }

    .terrain-third {
        height: 100%;

        .terrain-hauteur {
            height: $t-height / 3;
        }

        &:after {
            text-align: center;
            font-weight: 200;
            text-transform: uppercase;
            color: $default-color;
            position: absolute;
            width: $z-but-width;
            height: $z-but-height;
            border: 3px solid $primary;
            top:50%;
            margin-top: $z-top-pad;
        }

        &:nth-child(2) {
            border-right: 1px dashed $default-color;

            &:after {
                content: 'Maison';
                left: 0;
                margin-left: -3px;
            }
        }

        &:nth-child(3) {
            border-right: 1px dashed $default-color;
        }

        &:nth-child(4) {

            &:after {
                content: 'Adversaire';
                right: 0;
                margin-right: -3px;
            }
        }
    }
}

#terrain-container::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: $primary;
    height: 100%;
    left: 50%;
}

#terrain-container-sm {
    width: $t-width-sm;
    height: $t-height-sm;
    border: 4px solid $primary;
    position: relative;
    padding: 0px;

    #circle-centre-sm {
        position: absolute;
        width: $r-centre-sm;
        height: $r-centre-sm;
        border-radius: 100%;
        border: 3px solid $primary;
        left: 50%;
        top: 50%;
        margin-left: $r-centre-pad-sm;
        margin-top: $r-centre-pad-sm;
        z-index: 9;
    }

    .terrain-third {
        height: 100%;

        &:after {
            text-align: center;
            font-weight: 200;
            text-transform: uppercase;
            color: $default-color;
            position: absolute;
            width: $z-but-width-sm;
            height: $z-but-height-sm;
            border: 3px solid $primary;
            top:50%;
            margin-top: $z-top-pad-sm;
        }

        &:nth-child(2) {
            border-right: 1px dashed $default-color;

            &:after {
                content: '';
                left: 0;
                margin-left: -3px;
            }
        }

        &:nth-child(3) {
            border-right: 1px dashed $default-color;
        }

        &:nth-child(4) {

            &:after {
                content: '';
                right: 0;
                margin-right: -3px;
            }
        }
    }
}

#terrain-container-sm::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: $primary;
    height: 100%;
    left: 50%;
}

.no-l-padd {
    padding-left: 0px;
}

#canvasArrow, #canvasTest,  #canvasDeuxiemeClick, #canvasTroisiemeClick{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#video-cvs {
    position: absolute;
    right: 0;
    top: 0;
    width: 225px;
    height: 225px;
    visibility: inherit;
    opacity: 1;
    border: 1px solid rgb(56, 178, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 10px rgba(56, 178, 255, 0.83);
    background: #000000;
    z-index: 9999;
}

#video-cvs.hidden {
    visibility: hidden;
    opacity: 0;
}

#banc {
    border: 2px solid firebrick;
    padding: 10px;
    height: $t-height;
}

.draggable-element {
    position: absolute;
    z-index: 3;

    i {
        vertical-align: middle;
        font-size: 18pt;
        cursor: move;
    }
}