body {
    color: $primary-color;
    font-family: $primary-font;
}
#LesJoueurs>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#LesJoueurs>ul>li {
    float: left;
    margin-left: 6px;
    margin-bottom: 6px;
}
#TableSelect {
    position: absolute;
    left: 0px;
    overflow: auto;
    height: 200px;
    width: 500px;
    margin-right: 30px;
}
#TableSaison {
    position: absolute;
    left: 0px;
    overflow: auto;
    height: 200px;
    width: 200px;
    margin-right: 30px;
}
#nouvSaison {
    position: absolute;
    top: 0px;
    left: 350px;
}

#nouvJoueur,#nouvTeam  {
    position: absolute;
    top: 0px;
    left: 600px;
    
}

input[type=text], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.Enr {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    padding: 20px;
    width: 400px;
    display: none;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

    h3 {
        margin-top: 0px;
        margin-bottom: 5px;
        display: inline-block;
        color:blue;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

h3{
    display: inline-block;
    color:blue;
}

.Enr.form-open {
    display: block;
    background-color: white;
}
