// Variables de couleur 
$primary-color: #d33e44;
$brand-primary: #38b2ff;
$default-color: #999999;
$default-color-hover: #777777;
$primary: #000000;
// Variables de polices
$primary-font:  'Roboto', sans-serif;
$font: "Arial", "Helvetica", sans-serif;
// Dimension du terrain
$t-width:       800px;
$t-height:      $t-width * 0.75;
$z-but-width:   $t-width * 0.1375;
$z-but-height:  $t-height * 0.4477777778;
$z-top-pad:     ($z-but-height / 2) * -1;
$but-width:     $t-width * 0.04583333333;
$but-height:    $t-height * 0.2033333333;
$r-centre:      $but-height;
$r-centre-pad:  ($but-height / 2) * -1;

// Dimension du terrain (small)
$t-width-sm:       350px;
$t-height-sm:      $t-width-sm * 0.75;
$z-but-width-sm:   $t-width-sm * 0.1375;
$z-but-height-sm:  $t-height-sm * 0.4477777778;
$z-top-pad-sm:     ($z-but-height-sm / 2) * -1;
$but-width-sm:     $t-width-sm * 0.04583333333;
$but-height-sm:    $t-height-sm * 0.2033333333;
$r-centre-sm:      $but-height-sm;
$r-centre-pad-sm:  ($but-height-sm / 2) * -1;
